.matchbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.match_preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
    height:10vh;
    width: 30vw;
    align-items: center;
}